@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap");
.container {
  max-width: 128rem;
  padding: 0 1.5rem;
  margin: auto;
}

.container--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.container--footer {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container--header {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
}
.header {
  border-bottom: 0.5rem solid rgb(255, 94, 0);
  padding: 2rem 0;
}

.main {
  position: relative;
  padding: 0 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tablo {
  width: 20%;
  position: absolute;
  top: 1rem;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
}

.tablo__first-player,
.tablo__second-player {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-name {
  color: #0bca0b;
}

.second-user-name {
  color: #1f6bd6;
}

.score1 {
  background: #0bca0b;
}

.score2 {
  background: #1f6bd6;
}

.score1,
.score2 {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #ffffff;
  margin-left: 0.5rem;
}

.records {
  position: absolute;
  top: 20%;
  left: 1.5rem;
  font-size: 1.5rem;
}

.text {
  padding: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.game {
  margin: 0 auto;
  width: 50rem;
  height: 50rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  background: #cccccc;
}

.cell {
  width: 17rem;
  height: 17rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0.2rem 0 0.2rem #ff5e00, 0 0.2rem 0.2rem #ff5e00, -0.2rem 0 0.2rem #ff5e00, 0 -0.2rem 0.2rem #ff5e00;
  border: 1rem solid #ffffff;
  background: #cccccc;
  cursor: pointer;
}

.hidden {
  display: none;
}

.history-list-item {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.footer {
  display: flex;
  min-height: auto;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  background: #ff5e00;
  /* .footer__link */
}
.footer__link {
  display: block;
  width: 50%;
  flex: 0 0 1.5rem;
}
.footer__logo {
  width: 10rem;
}
.footer .copy-right {
  width: 50%;
  font-size: 1.5rem;
  flex: 0 0 28rem;
  color: #dddddd;
}
.footer .developer {
  padding: 0 0 0 2rem;
  font-family: "Pacifico", cursive;
  font-size: 1.8rem;
  color: #dddddd;
  transition: all 1s linear;
}
.footer .developer:hover {
  color: #5CC3D8;
}
.footer .developer:visited {
  color: #fff;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #4b4848;
}

.not-scroll {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  width: 60%;
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.button {
  width: 15rem;
  height: 4rem;
  background: transparent;
  border: 0.18rem solid #ff5e00;
  border-radius: 1rem;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.button:hover {
  background: rgba(255, 94, 0, 0.6);
  color: #ffffff;
  border: none;
}

.button__start-game {
  color: #0bca0b;
  border: 0.18rem solid #0bca0b;
}
.button__start-game:hover {
  background: rgba(11, 202, 11, 0.6);
  color: #ffffff;
  border: none;
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  align-items: center;
  justify-content: center;
  background: hsla(0, 3%, 75%, 0.872);
}

.show {
  display: flex;
}

.modal-dialog {
  width: 50rem;
  height: 30rem;
  padding: 3rem;
  border-radius: 1rem;
  background: #ffffff;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.modal-title {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.winner-name,
.figure-item,
.move-number {
  color: chocolate;
}

.figure,
.move-number {
  font-size: 2rem;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.modal-footer {
  padding: 2rem 0;
  align-self: flex-end;
}